textarea
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'

#__vconsole
  display none

.white-break
  text-overflow ellipsis
  white-space: nowrap
  overflow hidden

.float-sign
  position fixed
  bottom 1.5rem
  right 0.8rem
  width 120px
  height 120px
  border-radius 999px
  font-size: 12px
  text-align center
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  z-index 999

.fix:after
  display table
  position absolute
  content ' '
  height 0px
  clear both

.border-right-1px::after
  display none

.ivu-upload-select
  height: 55px